
.in-foo{
    background-color: #c62828;
    width: 100%;
    height: auto;
    margin:0;
}

.in-foo ul{
    text-align: left;
    margin-top: 2em;
   
}

.in-foo ul li {
    list-style: none;
}

.in-foo ul li a{
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.in-foo ul li a:hover{
    color: #012B5D;
}

.img-paypal{
    margin-top: 1.5em;
    margin-left: 6em;
    text-align: left;
}

.in-foo h6{
    text-align: right;

}

@media (min-width: 320px) and (max-width: 641px) {
   .img-paypal {
       display:none;
       
   }

} 