
.in-foo{
    background-color: #c62828;
    width: 100%;
    height: auto;
    padding-bottom: 0.5em;
}

.in-foo ul{
    text-align: left;
    padding-top: 1em;
    
}

.in-foo ul li {
    list-style: none;
    margin-top: 1em;
}

.in-foo ul li a{
   
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.in-foo ul li a:hover{
    color: #012B5D;
}

.img-paypal{
   margin-top: -8em;
    
}

.in-foo h6{
    text-align: right;
    margin-right: 0.5em;

}

@media (min-width: 320px) and (max-width: 641px) {
   .img-paypal {
       display:none;
       
   }

} 